fastapi
uvicorn[standard]

pandas
numpy

pdfplumber
pdfminer.six

pytesseract>=0.3.10
pdf2image
Pillow

openpyxl
xlrd==2.0.1

python-multipart
python-dotenv

reportlab

sqlalchemy
psycopg2-binary

python-docx
